# devenv
.devenv
devenv.local.nix

# claude
**/.claude/settings.local.json
.claude/settings.json
.claude/agents
.claude/commands
.mcp.json
.devcontainer.json

# opencode
opencode.jsonc
.opencode/commands
